body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  width: 600px;
  margin: 10px auto;
  position: relative;
}
.main-cover {
  width: 100%;
  border-radius: 14px;
}
.main-hover-text {
  position: absolute;
  bottom: 10%;
  color: white;
  padding: 10px;
  text-align: center;
}
.btn {
  outline: none;
  background-color: white;
  color: black;
  padding: 12px 18px;
  border: none;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bolder;
}

.main-2 {
  width: 1000px;
  margin: 10px auto;
  position: relative;
}
.main-2-cover {
  width: 100%;
}
.main-2-backdrop {
  width: 100%;
  height: 320px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
}
.main-2-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* text-align: center; */
  padding: 10px;
}
.main-2-text h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
.main-2-text p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.main-2-bar {
  padding: 8px;
  background-color: white;
  color: black;
  width: 600px;
  border-radius: 4px;
}
.main-2-bar select {
  width: 20%;
  align-items: left;
  outline: none;
  border: none;
  margin-right: 5px;
}
.main-2-bar input {
  width: 60%;
  margin-left: 10px;
  outline: none;
  border: none;
}
.main-3 {
  width: 600px;
  margin: 10px auto;
  position: relative;
}
.main-3-img {
  position: relative;
}
.main-3-cover {
  width: 100%;
  height: 300px;
  border-radius: 50px;
}
.main-3-profile {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  left: 20px;
}
.main-3-text {
  position: absolute;
  bottom: 25px;
  left: 20%;
  color: white;
  text-align: center;
}
.main-3-text h1 {
  margin: 1px;
}
.main-4 {
  width: 600px;
  height: 500px;
  margin: 10px auto;
  position: relative;
  background-color: rgb(245, 251, 255);
  border-radius: 50px 50px 0 0;
  border: 1px solid lightslategray;
}
.main-4-img {
  position: relative;
}
.main-4-cover {
  width: 100%;
  height: 250px;
  border-radius: 50px 50px 0 0;
}
.main-4-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid white;
}
.main-4-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}
.main-4-text h1 {
  margin: 1px;
}
.main-5 {
  width: 380px;
  height: 370px;
  margin: 10px auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  padding: 12px;
  border-radius: 15px;
  transition: 1.3s;
}
.main-5:hover {
  scale: 1.1;
}
.main-5-cover {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}
.main-5-top {
  background-color: black;
  color: white;
  opacity: 50%;
  font-size: 13px;
  padding: 1px 6px;
  border-radius: 2.5px;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 3%;
}
.main-5-box {
  position: relative;
}
.main-5-left {
  background-color: rgb(0, 0, 255);
  color: white;
  font-size: 14px;
  opacity: 90%;
  position: absolute;
  bottom: 8%;
  padding: 0px 7px;
  border-radius: 0 2px 2px 0;
}
.main-5-right {
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 1.5px 3px;
  border-radius: 2px;
  position: absolute;
  bottom: 8%;
  right: 3%;
}
.main-5-bottom h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0%;
}
.main-5-bottom p {
  opacity: 70%;
  margin-top: 8px;
}
.main-5-bottom {
  border-bottom: 1px solid grey;
}
.main-5-bottom-1 img {
  width: 40px;
  height: 20px;
  margin-top: 5px;
}
.main-5-bottom-1 {
  display: flex;
  align-items: center;
}
.main-5-bottom-1 p {
  font-size: 13px;
  margin-left: 10px;
  text-align: center;
}
